.tool__kit__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tool__kit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c5c4c5;
  width: 95%;
  height: 97px;
  box-shadow: 0px 0px 9px black;
  /* border: 3px solid #000000; */
  /* border-radius: 11px; */
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.tool__kit__right__side {
  display: flex;
  margin-right: 16px;
}

.tool__kit__left__side {
  margin-left: 16px;
  display: flex;
}

.tool__kit__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcf9;
  box-shadow: 0px 0px 5px black;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 8px 8px;
  /* border: 3px solid #000000; */
  box-sizing: border-box;
}

.tool__kit__button:hover {
  cursor: pointer;
  filter: brightness(80%);
}

/* .tool__kit__button:hover {
  background-color: rgb(230, 227, 227);
} */

button.tool__kit__button {
  /* background: none; */
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.tool__kit__button__active {
  filter: brightness(80%);
}

.color__picker__display__box:hover {
  cursor: pointer;
}

/* .tool__kit__buton__active:hover {
  filter: brightness(100%);
} */
/* 
input[type="range"] {
  width: 130px;

  background: #6d6d6d;
} */
