.navBar-container {
  display: flex;
  justify-content: space-between;
}

.rightSide-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.library-canvas {
  border-radius: 5px;
  /* box-shadow: 0px 0px 3px black; */
  /* border: 3px solid #000000; */
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(109, 102, 102, 0.25);
}

.library-canvas:hover {
  cursor: pointer;
  filter: brightness(75%);
  background-color: rgba(109, 102, 102, 0.25);
}

.library-navbar {
  margin: 30px 30px;
  display: flex;
  width: 100%;
  height: 60px;
}

.home-button {
  justify-self: flex-end;
}

.rightSide-container {
  margin: 16px 30px 0px 16px;
  z-index: 1;
}

.library__button {
  box-shadow: 0px 5px 5px rgba(109, 102, 102, 0.25);
  border-radius: 11px;
}

.library__button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.library-text {
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: -0.015em;

  /* icon symbol */

  color: #8c8c8c;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.display__all__canvases {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display__single__canvas {
  margin: 0px 24px 0px 24px;
}

.canvas-text {
  margin: 8px 0px 0px 8px;
}

.delete-select {
  filter: hue-rotate(346deg) brightness(104%) contrast(97%);
  background-color: rgba(255, 232, 232, 0.9);
  border-radius: 5px;
  border: 2px solid rgba(255, 139, 139, 0.7);
  /* box-shadow: 0px 0px 3px black; */
  /* border: 3px solid #000000; */
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(109, 102, 102, 0.25);
}

/* .not-unique {
  border: 2px solid rgba(253, 65, 65, 0.308);
} */

.bixels-icon {
  margin: 16px 0px 0px 16px;
}

.bixels-icon:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.trash__selected {
  position: absolute;
  width: 66px;
  height: 184px;
  right: 33px;
  top: 26px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  background: #c4c4c4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  z-index: -1;
}

.delete-option-buttons {
  margin-bottom: 8px;
  box-shadow: 0px 5px 5px rgba(109, 102, 102, 0.25);
  border-radius: 11px;
}

.delete-option-buttons:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.trash-options {
  filter: brightness(80%);
}

.trash-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 38px;
  top: 74px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #8c8c8c;
  font-family: Cabin;
  font-size: 12px;
  color: #fcfbf9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* .delete-available {

} */

.no-delete-available {
  filter: brightness(150%);
  margin-bottom: 8px;
}

img.no-delete-available:hover {
  cursor: inherit;
}

.no-canvases {
  margin-top: 40px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: -0.015em;
}

.no-canvases-plus-icon {
  margin-left: 8px;
}

.searching {
  filter: brightness(80%);
}

#searchBarInput {
  position: absolute;
  top: 95px;
  right: 55px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding-left: 12px;
}

.canvas-text {
  width: 125px;
  overflow: hidden;
}

#name-change {
  border: none;
  border-radius: 5px;
  padding-left: 8px;
  width: 125px;
}

.navBar-container {
  font-family: Cabin;
}
